@import '../abs/_var'
.dashboard-container
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto 4fr
    grid-template-areas: "modal" "card "
    .modal-button
        grid-area: modal
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: start
        background-color: #1b1b1b
        .open-modal-button
            width: 80%
            margin: 0 auto
            height: 3rem
            margin-top:3rem 
            margin-bottom: 1rem
    .remedios-section
        grid-area: card
        display: grid
        grid-template-columns: 1fr 
        background-color: #121212
        padding: 3rem 2rem
        padding-right: 1rem 
        .card-remedio
            background-color: #1b1b1b
            padding: 20px 
            margin: 10px 20px
            color: white
            border-radius: 20px 
            display: flex
            flex-direction: column
            justify-content: space-between
            h1
                font-size: calc( $font-size/1.5  )
                margin-bottom: 10px
                text-transform: uppercase 
            h3
                font-size: calc( $font-size/2.8  )
                text-align: center
                color: #dadada
            .card-quantidade
                margin-top: 10px
                text-align: center
                p
                    margin: 0


@media screen and (min-width: 768px)
    .dashboard-container
        .remedios-section
            grid-template-columns: 1fr 1fr
@media screen and (min-width: 992px)
    .dashboard-container
        grid-template-columns: 1fr 2fr
        grid-template-areas: "modal card" 
        .modal-button
            align-items: start
        .remedios-section
            grid-template-columns: 1fr 1fr


@media screen and (min-width: 1200px)
    .dashboard-container
        .remedios-section
            grid-template-columns: 1fr 1fr 1fr