@import '../abs/_var'
.dashboard-container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    .modal-button
        width: 100%
        display: flex
        align-items: center
        margin: 1rem 0 2rem 
        .open-modal-button
            width: 80%
            margin: 0 auto
    .remedios-section
        background-color: #546dfc
        border-radius: 40px 40px 0 0
        padding-top: 2rem
        padding-bottom: 1rem
        .card-remedio
            background-color: #0a1763
            padding: 20px 
            margin: 10px 20px
            color: white
            border-radius: 20px 
            h1
                font-size: calc( $font-size/1.5  )
                margin-bottom: 10px
                text-transform: uppercase 
            h3
                font-size: calc( $font-size/2.8  )
                text-align: center
                color: #dadada
            .card-quantidade
                margin-top: 10px
                text-align: center
                p
                    margin: 0
