@import '../abs/_var'
.dashboard-container
    margin-top: 1rem 
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto 4fr
    grid-template-areas: "modal" "card "
    .modal-button
        grid-area: modal
        width: 100%
        display: flex
        align-items: center
        margin: 1rem 0
        justify-items: center
        .open-modal-button
            width: 80%
            margin: 0 auto
            height: 3rem
    .remedios-section
        grid-area: card
        display: grid
        grid-template-columns: 1fr 
        background-color: $bg-cor1
        border-radius: 40px 40px 0 0
        padding: 2rem
        padding-right: 1rem 
        .card-remedio
            background-color: #0a1763
            padding: 20px 
            margin: 10px 20px
            color: white
            border-radius: 20px 
            display: flex
            flex-direction: column
            justify-content: space-between
            h1
                font-size: calc( $font-size/1.5  )
                margin-bottom: 10px
                text-transform: uppercase 
            h3
                font-size: calc( $font-size/2.8  )
                text-align: center
                color: #dadada
            .card-quantidade
                margin-top: 10px
                text-align: center
                p
                    margin: 0


@media screen and (min-width: 768px)
    .dashboard-container
        .remedios-section
            grid-template-columns: 1fr 1fr
@media screen and (min-width: 992px)
    .dashboard-container
        grid-template-columns: 1fr 2fr
        grid-template-areas: "modal card" 
        .modal-button
            align-items: start
        .remedios-section
            
            grid-template-columns: 1fr 1fr
            border-radius: 40px 0 0 40px

@media screen and (min-width: 1200px)
    .dashboard-container
        .remedios-section
            grid-template-columns: 1fr 1fr 1fr