@import '../abs/_var'
.nevegacao-container
    background-color: $bg-cor1
    .navbar
        .container-fluid
            .links-navbar
                display: flex
                gap: 1rem
                .link-navbar
                    text-decoration: none
                    color: white
                    font-size: calc( $font-size/2.5)
                    