html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1, p {
  margin: 0;
}

.app-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto 4fr;
  grid-template-areas: "header header" "main main";
  margin: auto;
}
.app-container .navegacao {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  grid-area: header;
}
.app-container .principal {
  width: 100%;
  grid-area: main;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  color: white;
}
.login-container .header {
  text-align: center;
}
.login-container form {
  height: 200px;
}
.login-container form input {
  width: 350px;
  height: 50px;
  font-size: 1.3636363636rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #30acff;
  text-align: center;
  background-color: transparent;
  margin: 10px 0;
  color: white;
  transition: 0.4s;
}
.login-container form input:focus {
  background-color: #1d1d1d;
  border-radius: 10px 10px 0 0;
  transition: 0.4s;
  border-bottom: 2px solid #010346;
}
.login-container form p {
  color: red;
  margin-top: 5px;
  font-size: 1.1538461538rem;
  text-shadow: 0 0 3px #FF0000;
}
.login-container form button {
  margin-top: 10px;
  width: 350px;
  height: 50px;
  background-color: #30acff;
  font-size: 1.1111111111rem;
  border: none;
  transition: 0.4s;
}
.login-container form button:hover {
  background-color: #010346;
  color: #fff;
  transition: 0.4s;
}

.dashboard-container {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 4fr;
  grid-template-areas: "modal" "card ";
}
.dashboard-container .modal-button {
  grid-area: modal;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  justify-content: start;
}
.dashboard-container .modal-button .open-modal-button {
  width: 80%;
  margin: 0 auto;
  height: 3rem;
  margin-bottom: 1rem;
}
.dashboard-container .remedios-section {
  grid-area: card;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #30acff;
  border-radius: 40px 40px 0 0;
  padding: 2rem;
  padding-right: 1rem;
}
.dashboard-container .remedios-section .card-remedio {
  background-color: #0a1763;
  padding: 20px;
  margin: 10px 20px;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-container .remedios-section .card-remedio h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.dashboard-container .remedios-section .card-remedio h3 {
  font-size: 1.0714285714rem;
  text-align: center;
  color: #dadada;
}
.dashboard-container .remedios-section .card-remedio .card-quantidade {
  margin-top: 10px;
  text-align: center;
}
.dashboard-container .remedios-section .card-remedio .card-quantidade p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .dashboard-container .remedios-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .dashboard-container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "modal card";
  }
  .dashboard-container .modal-button {
    align-items: start;
  }
  .dashboard-container .remedios-section {
    grid-template-columns: 1fr 1fr;
    border-radius: 40px 0 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .dashboard-container .remedios-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.nevegacao-container {
  background-color: #1b1b1b;
}
.nevegacao-container .navbar .container-fluid .logo img {
  width: 100px;
}
.nevegacao-container .navbar .container-fluid .links-navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nevegacao-container .navbar .container-fluid .links-navbar .link-navbar {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.nevegacao-container .navbar .container-fluid .links-navbar .link-navbar:hover {
  border-bottom: 2px solid;
  transition: 0.4s;
}
.nevegacao-container .navbar .botao .myButton {
  width: 100px;
  border: none;
  background-color: #30acff;
}
.nevegacao-container .navbar .botao .myButton:hover {
  background-color: #fff;
  transition: 0.4s;
}
.nevegacao-container .navbar .botao .myButton:hover .myBtn-link {
  color: #30acff;
  transition: 0.4s;
  box-shadow: 1px 1px 10px 1px #FFF;
}
.nevegacao-container .navbar .botao .myButton .myBtn-link {
  text-decoration: none;
  color: white;
}

.home-container {
  width: 100%;
}
.home-container .sub-nav {
  display: flex;
  justify-content: space-around;
  background-color: #181818;
  height: 50px;
  align-items: center;
}
.home-container .sub-nav a {
  color: white;
  text-decoration: none;
}
.home-container .sub-nav a:hover {
  color: #30acff;
  border-bottom: 2px solid #30acff;
  transition: 0.4s;
}
.home-container .banner {
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0;
}
.home-container .banner img {
  width: 100%;
}
.home-container .banner .title {
  margin: 1rem;
}
.home-container .banner .title h1 {
  text-align: center;
  padding: 1rem;
  margin: 0;
  background-color: #30acff;
  color: #fff;
  border-radius: 20px 20px 0 0;
}
.home-container .banner .title h5 {
  padding: 1rem;
  background-color: #181818;
  color: #fff;
  border-radius: 0 0 20px 20px;
}
.home-container .all-content {
  width: 100%;
  margin: 1rem auto;
  max-width: 1400px;
}
.home-container .all-content .funcionamento {
  width: 100%;
  margin: 1rem auto;
  padding: 0 1rem;
}
.home-container .all-content .funcionamento header h1 {
  color: #30acff;
  text-align: center;
  font-size: 2.3076923077rem;
}
.home-container .all-content .funcionamento .funcionamento-content .funcionamento-pedido .imagem {
  text-align: center;
}
.home-container .all-content .funcionamento .funcionamento-content .funcionamento-pedido .imagem img {
  width: 300px;
}
.home-container .all-content .funcionamento .funcionamento-content .funcionamento-pedido .texto p {
  background-color: #30acff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.home-container .all-content .vantagens {
  width: 100%;
  margin: 1rem auto;
}
.home-container .all-content .vantagens header {
  text-align: center;
}
.home-container .all-content .vantagens header h1 {
  font-size: 2.3076923077rem;
  color: #30acff;
}
.home-container .all-content .vantagens .lista ul li {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: start;
  gap: 10px;
  font-size: 1.2rem;
}
.home-container .all-content .vantagens .lista ul li p {
  margin: 0;
}
.home-container .contrate {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #181818;
  color: #FFF;
  align-self: center;
}
.home-container .contrate header {
  margin: 2rem;
}
.home-container .contrate header p, .home-container .contrate header h1 {
  margin: 0;
}
.home-container .contrate form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
.home-container .contrate form input {
  width: 350px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  color: #30acff;
  border: 1px solid #30acff;
  background-color: transparent;
  text-align: center;
  outline: none;
  font-size: 1.1538461538rem;
}
.home-container .contrate form button {
  width: 350px;
  margin: 8px;
  height: 40px;
  background-color: #30acff;
  border: none;
  color: white;
}
.home-container .contrate form .submit {
  width: 350px;
  border: 1px solid green;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

@media screen and (min-width: 768px) {
  .home-container .banner {
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
  }
  .home-container .banner img {
    width: 100%;
  }
  .home-container .banner .title {
    display: flex;
    flex-direction: column;
  }
  .home-container .banner .title h1 {
    background-color: transparent;
    color: black;
    width: 800px;
    margin: 2rem auto;
    margin-bottom: 0;
  }
  .home-container .banner .title h5 {
    border-radius: 10px;
    width: 1000px;
    margin: 0 auto;
  }
  .home-container .funcionamento .funcionamento-content .funcionamento-pedido {
    display: flex;
    flex-direction: row;
    padding: 1rem 12rem;
    gap: 1rem;
  }
  .home-container .contrate {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: #181818;
    color: #FFF;
  }
}
.rodape {
  width: 100%;
  background-color: #181818;
  color: #fff;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.rodape .duvida {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rodape .duvida h1 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.rodape .duvida a {
  width: 100%;
  align-self: center;
  text-align: center;
  padding: 10px 30px;
  background-color: #30acff;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
}
.rodape .duvida a:hover {
  background-color: #fff;
  color: #30acff;
  transition: 0.4s;
}
.rodape .redes {
  width: 100%;
}
.rodape .redes .sociais {
  text-align: center;
}
.rodape .redes .sociais a {
  margin: 0 10px;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.pedido .carrinho {
  position: fixed;
  top: 80vh;
  left: 85%;
  background-color: green;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  color: #FFF;
}
.pedido .carrinho button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #FFF;
}
.pedido form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 10px;
}
.pedido form input {
  width: 330px;
  height: 40px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #30acff;
  outline: none;
  font-size: 1.2rem;
}
.pedido form button {
  font-size: 1.5rem;
  height: 40px;
  text-align: center;
  background-color: transparent;
  border: none;
}
.pedido .api {
  display: flex;
  flex-direction: column;
}
.pedido .api .sub-info {
  grid-area: info;
  text-align: center;
  margin: 10px;
}
.pedido .api .drugs {
  margin: 0 auto;
}
.pedido .api .drugs .drug {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #242424;
  color: #fff;
  padding: 1rem;
  margin: 5px;
  border-radius: 10px;
  width: 350px;
  height: 280px;
}
.pedido .api .drugs .drug p {
  color: #d4d4d4;
}
.pedido .api .drugs .drug .product-owner {
  margin: 10px 0;
}
.pedido .api .drugs .drug .product-owner p {
  color: #d4d4d4;
}
.pedido .api .drugs .buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}
.pedido .api .drugs .buttons .add {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.pedido .api .drugs .buttons .add:hover {
  box-shadow: 1px 1px 7px 1px green;
}
.pedido .api .drugs .buttons .remove {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.pedido .api .drugs .buttons .remove:hover {
  box-shadow: 1px 1px 7px 1px red;
}
.pedido .api .img-initial {
  width: 60%;
  align-self: center;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .carrinho {
    position: fixed;
    top: 80%;
  }
  .drugs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1150px) {
  .drugs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .carrinho {
    position: fixed;
    top: 9%;
    left: 90%;
  }
  .drugs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */