html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.app-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto 4fr;
  grid-template-areas: "header header" "main main";
  margin: auto;
}
.app-container .navegacao {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  grid-area: header;
}
.app-container .principal {
  width: 100%;
  grid-area: main;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.login-container .header {
  text-align: center;
}
.login-container form {
  height: 200px;
}
.login-container form input {
  width: 20rem;
  padding-top: 2rem;
  font-size: 1.3636363636rem;
  outline: none;
  border: none;
  border-bottom: 2px solid;
}
.login-container form button {
  margin-top: 1rem;
  width: 20rem;
  padding: 0.5rem;
  font-size: 1.1111111111rem;
  border: none;
}

.dashboard-container {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 4fr;
  grid-template-areas: "modal" "card ";
}
.dashboard-container .modal-button {
  grid-area: modal;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  justify-items: center;
}
.dashboard-container .modal-button .open-modal-button {
  width: 80%;
  margin: 0 auto;
  height: 3rem;
}
.dashboard-container .remedios-section {
  grid-area: card;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #546dfc;
  border-radius: 40px 40px 0 0;
  padding: 2rem;
  padding-right: 1rem;
}
.dashboard-container .remedios-section .card-remedio {
  background-color: #0a1763;
  padding: 20px;
  margin: 10px 20px;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-container .remedios-section .card-remedio h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.dashboard-container .remedios-section .card-remedio h3 {
  font-size: 1.0714285714rem;
  text-align: center;
  color: #dadada;
}
.dashboard-container .remedios-section .card-remedio .card-quantidade {
  margin-top: 10px;
  text-align: center;
}
.dashboard-container .remedios-section .card-remedio .card-quantidade p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .dashboard-container .remedios-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .dashboard-container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "modal card";
  }
  .dashboard-container .modal-button {
    align-items: start;
  }
  .dashboard-container .remedios-section {
    grid-template-columns: 1fr 1fr;
    border-radius: 40px 0 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .dashboard-container .remedios-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.nevegacao-container {
  background-color: #546dfc;
}
.nevegacao-container .navbar .container-fluid .links-navbar {
  display: flex;
  gap: 1rem;
}
.nevegacao-container .navbar .container-fluid .links-navbar .link-navbar {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.home-container {
  width: 100%;
}
.home-container .banner {
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0;
}
.home-container .banner img {
  width: 100%;
}
.home-container .banner title h1 {
  text-align: center;
}
.home-container h5 {
  margin: 0;
  padding: 1rem;
  background-color: #181818;
  color: #fff;
}
.home-container .funcionamento {
  margin-top: 1rem;
  padding: 0 1rem;
}
.home-container .funcionamento header h1 {
  color: #546dfc;
  text-align: center;
  font-size: 2.3076923077rem;
}
.home-container .funcionamento .funcionamento-content .funcionamento-pedido .imagem {
  text-align: center;
}
.home-container .funcionamento .funcionamento-content .funcionamento-pedido .imagem img {
  width: 300px;
}
.home-container .funcionamento .funcionamento-content .funcionamento-pedido .texto p {
  background-color: #546dfc;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.home-container .vantagens header {
  text-align: center;
}
.home-container .vantagens header h1 {
  font-size: 2.3076923077rem;
  color: #546dfc;
}
.home-container .vantagens .lista ul li {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: start;
  gap: 10px;
  font-size: 1.2rem;
}
.home-container .vantagens .lista ul li p {
  margin: 0;
}
.home-container .contrate {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #181818;
  color: #FFF;
}
.home-container .contrate header p, .home-container .contrate header h1 {
  margin: 0;
}
.home-container .contrate form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
.home-container .contrate form input {
  width: 350px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  color: #546dfc;
  border: 1px solid #546dfc;
  background-color: transparent;
  text-align: center;
  outline: none;
  font-size: 1.1538461538rem;
}
.home-container .contrate form button {
  width: 350px;
  margin: 8px;
  height: 40px;
  background-color: #546dfc;
  border: none;
  color: white;
}
.home-container .contrate form .submit {
  width: 350px;
  border: 1px solid green;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}/*# sourceMappingURL=style.css.map */